In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train_PDjVQMB.csv').drop('ID',1)
df

,Age,Gender,Income,Balance,Vintage,Transaction_Status,Product_Holdings,Credit_Card,Credit_Category,Is_Churn
0,36,Female,5L - 10L,563266.44,4,0,1,0,Average,1
1,53,Female,Less than 5L,875572.11,2,1,1,1,Poor,0
2,35,Female,More than 15L,701607.06,2,1,2,0,Poor,0
3,43,Female,More than 15L,1393922.16,0,1,2,1,Poor,1
4,39,Female,More than 15L,893146.23,1,1,1,1,Good,1
...,...,...,...,...,...,...,...,...,...,...
6645,61,Male,5L - 10L,1354526.19,4,1,2,1,Poor,1
6646,42,Female,5L - 10L,596286.54,3,1,2,1,Average,0
6647,29,Male,Less than 5L,979298.19,2,0,2,0,Poor,0
6648,66,Female,10L - 15L,395233.65,3,0,2,1,Poor,1
6649,37,Male,More than 15L,826947.27,1,1,2,0,Good,0

In [3]:
df = pd.get_dummies(df, columns=['Gender', 'Income', 'Product_Holdings', 'Credit_Category'], drop_first = True)

In [4]:
X = df.drop(columns=['Is_Churn'])
y = df['Is_Churn'].values

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,stratify=y,test_size=0.2,random_state=0)

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_trf = scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)

In [6]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential 
from tensorflow.keras.layers import Dense

In [7]:
X_test_trf.shape

(1330, 13)

In [8]:
from sklearn.utils import class_weight
import numpy as np
class_weights = class_weight.compute_class_weight('balanced',
                                                 np.unique(y_train),
                                                 y_train)

C:\Users\biswasshubendu\Anaconda3\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass classes=[0 1], y=[0 0 0 ... 0 1 0] as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

In [9]:
class_weights

array([0.65036675, 2.16260163])

In [10]:
class_weight = {0: 0.65,
                1: 2.16}

In [21]:
model = Sequential()

model.add(Dense(64,activation='relu',input_dim=13))
model.add(Dense(32,activation='sigmoid'))
model.add(Dense(1,activation='sigmoid'))

In [22]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                896

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 3,009
Trainable params: 3,009
Non-trainable params: 0
_________________________________________________________________

In [23]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [32]:
history = model.fit(X_train,y_train,batch_size=64,epochs=8,verbose=1,validation_split=0.2)

Epoch 1/8
67/67 [==============================] - 0s 2ms/step - loss: 0.6008 - accuracy: 0.7317 - val_loss: 0.5409 - val_accuracy: 0.7744
Epoch 2/8
67/67 [==============================] - 0s 2ms/step - loss: 0.5439 - accuracy: 0.7674 - val_loss: 0.5344 - val_accuracy: 0.7744
Epoch 3/8
67/67 [==============================] - 0s 2ms/step - loss: 0.5425 - accuracy: 0.7674 - val_loss: 0.5342 - val_accuracy: 0.7744
Epoch 4/8
67/67 [==============================] - 0s 2ms/step - loss: 0.5425 - accuracy: 0.7674 - val_loss: 0.5340 - val_accuracy: 0.7744
Epoch 5/8
67/67 [==============================] - 0s 2ms/step - loss: 0.5425 - accuracy: 0.7674 - val_loss: 0.5340 - val_accuracy: 0.7744
Epoch 6/8
67/67 [==============================] - 0s 2ms/step - loss: 0.5425 - accuracy: 0.7674 - val_loss: 0.5340 - val_accuracy: 0.7744
Epoch 7/8
67/67 [==============================] - 0s 2ms/step - loss: 0.5425 - accuracy: 0.7674 - val_loss: 0.5340 - val_accuracy: 0.7744
Epoch 8/8
67/67 [==============================] - 0s 2ms/step - loss: 0.5425 - accuracy: 0.7674 - val_loss: 0.5341 - val_accuracy: 0.7744

In [33]:
y_pred = model.predict(X_test)
y_pred

array([[0.23431075],
       [0.23431075],
       [0.23431075],
       ...,
       [0.23431075],
       [0.23431075],
       [0.23431075]], dtype=float32)

In [36]:
np.where(y_pred>0.5,1,0).sum()

0

In [33]:
y_pred.sum()

0