In [14]:
import pandas as pd
import pickle

In [10]:
df = pd.read_csv('test_lTY72QC.csv')
ID = df.ID
df = df.drop('ID',1)
df

,Age,Gender,Income,Balance,Vintage,Transaction_Status,Product_Holdings,Credit_Card,Credit_Category
0,50,Female,More than 15L,1008636.39,2,1,2,1,Average
1,36,Male,5L - 10L,341460.72,2,0,2,1,Average
2,25,Female,10L - 15L,439460.10,0,0,2,1,Good
3,41,Male,Less than 5L,28581.93,0,1,2,1,Poor
4,48,Male,More than 15L,1104540.03,2,1,3+,0,Good
...,...,...,...,...,...,...,...,...,...
2846,40,Female,10L - 15L,1338458.22,0,0,1,1,Poor
2847,48,Female,More than 15L,1448280.27,0,1,2,1,Average
2848,59,Male,More than 15L,1100555.64,3,0,1,1,Poor
2849,34,Female,5L - 10L,1502818.92,2,0,1,1,Poor
2850,61,Female,10L - 15L,913787.73,0,1,2,1,Good

In [13]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

label_encoder = LabelEncoder()
df.Gender= label_encoder.fit_transform(df.Gender)
df.Income = label_encoder.fit_transform(df.Income)
df.Credit_Category = label_encoder.fit_transform(df.Credit_Category)
df.Product_Holdings = label_encoder.fit_transform(df.Product_Holdings)

In [19]:
scalar = pickle.load(open("scalerr","rb"))

In [20]:
test = scalar.fit_transform(df)

In [21]:
test

array([[5.20017068, 0.        , 2.72873349, ..., 1.69389745, 2.12488717,
        0.        ],
       [3.74412289, 2.00706477, 0.90957783, ..., 1.69389745, 2.12488717,
        0.        ],
       [2.60008534, 0.        , 0.        , ..., 1.69389745, 2.12488717,
        1.17110906],
       ...,
       [6.1362014 , 2.00706477, 2.72873349, ..., 0.        , 2.12488717,
        2.34221812],
       [3.53611606, 0.        , 0.90957783, ..., 0.        , 2.12488717,
        2.34221812],
       [6.34420823, 0.        , 0.        , ..., 1.69389745, 2.12488717,
        1.17110906]])

In [35]:
#loading model1
log_reg = pickle.load(open("logistic.sav","rb"))
pred = log_reg.predict(test)
pd.Series(pred).value_counts()

0    1639
1    1212
dtype: int64

In [36]:
#loading model2
dt = pickle.load(open("dt.sav","rb"))
pred = dt.predict(test)
pd.Series(pred).value_counts()

1    1553
0    1298
dtype: int64

# Submission

In [37]:
sub = pd.read_csv("sample_OoSmYo5.csv")
sub.Is_Churn = pred
sub.to_csv("sample2.csv",index=False)